/* main */
@import url("https://fonts.googleapis.com/css2?family=Dosis:wght@200..800&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Quicksand:wght@300..700&family=Red+Hat+Text:ital,wght@0,300..700;1,300..700&display=swap");

/* titles */
@import url("https://fonts.googleapis.com/css2?family=Gothic+A1&display=swap");

/* general stuff */

:root {
    --fontMain: "Quicksand";
    --fontTitle: "Gothic A1";

    --buttonBorderRadius: 30px;

    --accentLighterColor: #247cff;
    --accentColor: #0066ff;
    --accentDarkerColor: #004ab9;
    --bgColor: white;

    --standardSectionVertSpacing: 2em;

    --defaultAnimationTime: 0.25s;
}

/* prevent scrollbar showing up from moving everything over to the left */
html {
    overflow-x: hidden;
    margin-right: calc(-1 * (100vw - 100%));
  }

::selection {
    color: var(--bgColor);
    background: var(--accentColor);
}

.preventSelection {
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

::-moz-selection {
    color: var(--bgColor);
    background: var(--accentColor);
}

body {
    background-color: var(--bgColor);
    visibility: hidden;
}

body, button {
    font-family: var(--fontMain), sans-serif;
    font-size: 15px;
}

button {
    margin-left: 1em;
    font-weight: bold;
    width: fit-content;
    height: calc(100% - 7px);
    line-height: calc(100% - 7px);
    padding: 1em;
    padding-left: 2.5em;
    padding-right: 2.5em;
}

.buttonNormal {
    border-radius: var(--buttonBorderRadius);
    border: 2px solid var(--accentColor);
    background-color: var(--bgColor);
    color: var(--accentColor);
}

.buttonAccent {
    border-radius: var(--buttonBorderRadius);
    border: 2px solid var(--accentColor);
    background-color: var(--accentColor);
    color: var(--bgColor);
}

.buttonNormal, .buttonAccent {
    transition: all 0.15s;
}

.buttonNormal:hover, .buttonAccent:hover {
    cursor: pointer;
    color: var(--bgColor);
    border-color: var(--accentDarkerColor);
    background-color: var(--accentDarkerColor);
}

p {
    margin: 0;
}

header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-top: 1em;
    width: 100vw;
    margin: -10px;
    background-color: var(--bgColor);
    padding-bottom: 20px;
    padding-left: 1.5em;
    /* box-shadow: 0 0 2px var(--accentDarkerColor); */
}
header *:last-child {
    margin-right: 1.25em;
}

.logoContainer {
    display: flex;
    flex-direction: row;
    align-items: center;
    transition: all 0.15s;
}
.logoContainer img {
    width: 50px;
    height: 50px;
}
.logoContainer p {
    color: var(--accentColor);
    font-weight: bold;
    font-size: 1.2em;
}
.logoContainer:hover {
    cursor: pointer;
    filter: contrast(2.15);
}

#navLoginSignUp {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.mainContainer {
    /* background-color: blue; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: fit-content;
    margin-left: auto;
    margin-right: auto;
    margin-top: 5em;
}

.mainContainerHorizontal {
    flex-direction: row;
}

.titleBodySection {
    max-width: 43em;
    /* background-color: blue; */
}
.titleBodySection:not(:first-child) {
    margin-top: var(--standardSectionVertSpacing);
}

.bodyText {
    text-indent: 2em;
}

/* font sizes */

.giantTitle, .bigTitle {
    font-family: var(--fontTitle);
    font-weight: bold;
}
.giantTitle {
    color: var(--accentColor);
    text-transform: uppercase;
    font-size: 5.75em;
}
.bigTitle {
    color: var(--accentColor);
    font-size: 2.5em;
}
.bigDescription {
    font-size: 1.3em;
}

/* FAQ */

.faq {
    margin-top: 0.5em;
}
.faq div {
    border-top: 1px solid #566573;
}
.faq div:last-child{
    border-bottom: 1px solid #566573;
}
.faq label {
    display: flex;
    justify-content: space-between;
    padding-top: 1em;
    user-select: none;
}
.faq label:hover {
    cursor: pointer;
}
.faq input {
    display: none;
}
.faq .questionText {
    font-weight: 500;
}
.faq .questionTextArrow {
    transform: rotate(-180deg);
    margin-bottom: 0.2em;
    margin-top: -0.2em;
    transition: transform var(--defaultAnimationTime);
}
.faq .answer {
    padding-top: 0.25em;
    padding-bottom: 1em;
    visibility: hidden;
    overflow: hidden;
    height: 0;
}

/* landing page */

.landingIntro {
    /* background-color: orchid; */
    width: 32em;
    height: fit-content;
    display: flex;
    flex-direction: column;
    margin-right: 8em;
    align-items: flex-start;
    align-self: flex-start;
    margin-top: 5em;
}
.landingIntro * {
    margin: 0;
}

.landingIntro button {
    margin-top: 2em;
    margin-left: auto;
    margin-right: auto;
}

.landingIconCollage {
    display: flex;
    flex-direction: column;
}
.landingIconCollage img {
    width: 8em;
    height: 8em;
}
.landingIconCollage div {
    display: flex;
    flex-direction: row;
}
.landingIconCollage div img:first-child {
    margin-right: 1.5em;
}
.landingIconCollage div:not(:last-child) {
    margin-bottom: 1.5em;
}

/* login */

.login {
    display: flex;
    padding: 40px;
    border-radius: var(--buttonBorderRadius);
    box-shadow: 0 0 4px var(--accentDarkerColor);
    background-color: var(--bgColor);
}
.login .bigTitle {
    margin: 0;
    margin-bottom: 0.85em;
}
.login label, .login input {
    font-size: 1.2em;
}
.login label {
    font-weight: 500;
    margin-bottom: 0.35em;
}
.login input {
    outline: none;
    padding: 10px;
    padding-left: 15px;
    padding-right: 15px;
    border-radius: var(--buttonBorderRadius);
    border: none;
    border: 1px solid var(--accentLighterColor);
    background-color: var(--bgColor);
}
.login input:hover {
    border: 1px solid var(--accentDarkerColor);
}
.login input:focus {
    border: 2px solid var(--accentColor);
    margin: -2px;
}
.login input:not(:last-of-type) {
    margin-bottom: 0.75em;
}
.login input:last-of-type {
    margin-bottom: 1.75em;
}
.login img {
    position: absolute;
    width: 25px;
    height: 25px;
    margin-top: 8em;
    margin-left: 14.5em;
}
.login .signupEye {
    margin-top: 13.75em;
    margin-left: 17.25em;
}
.login img:hover {
    cursor: pointer;
    filter: invert(20%);
}
.login .buttonAccent {
    margin: 0;
    width: 100%;
}
.loginBody {
    /* background-color: #005AE2; */
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='400' height='400' viewBox='0 0 800 800'%3E%3Cg fill='none' stroke='%2300398E' stroke-width='1'%3E%3Cpath d='M769 229L1037 260.9M927 880L731 737 520 660 309 538 40 599 295 764 126.5 879.5 40 599-197 493 102 382-31 229 126.5 79.5-69-63'/%3E%3Cpath d='M-31 229L237 261 390 382 603 493 308.5 537.5 101.5 381.5M370 905L295 764'/%3E%3Cpath d='M520 660L578 842 731 737 840 599 603 493 520 660 295 764 309 538 390 382 539 269 769 229 577.5 41.5 370 105 295 -36 126.5 79.5 237 261 102 382 40 599 -69 737 127 880'/%3E%3Cpath d='M520-140L578.5 42.5 731-63M603 493L539 269 237 261 370 105M902 382L539 269M390 382L102 382'/%3E%3Cpath d='M-222 42L126.5 79.5 370 105 539 269 577.5 41.5 927 80 769 229 902 382 603 493 731 737M295-36L577.5 41.5M578 842L295 764M40-201L127 80M102 382L-261 269'/%3E%3C/g%3E%3Cg fill='%23002B6C'%3E%3Ccircle cx='769' cy='229' r='5'/%3E%3Ccircle cx='539' cy='269' r='5'/%3E%3Ccircle cx='603' cy='493' r='5'/%3E%3Ccircle cx='731' cy='737' r='5'/%3E%3Ccircle cx='520' cy='660' r='5'/%3E%3Ccircle cx='309' cy='538' r='5'/%3E%3Ccircle cx='295' cy='764' r='5'/%3E%3Ccircle cx='40' cy='599' r='5'/%3E%3Ccircle cx='102' cy='382' r='5'/%3E%3Ccircle cx='127' cy='80' r='5'/%3E%3Ccircle cx='370' cy='105' r='5'/%3E%3Ccircle cx='578' cy='42' r='5'/%3E%3Ccircle cx='237' cy='261' r='5'/%3E%3Ccircle cx='390' cy='382' r='5'/%3E%3C/g%3E%3C/svg%3E");
    /* background-image: linear-gradient(to bottom,  rgba(255,255,255,1) 0%,rgba(255,255,255,0) 100%); */
}