/* main */
@import url("https://fonts.googleapis.com/css2?family=Dosis:wght@200..800&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Quicksand:wght@300..700&family=Red+Hat+Text:ital,wght@0,300..700;1,300..700&display=swap");

/* titles */
@import url("https://fonts.googleapis.com/css2?family=Gothic+A1&display=swap");

/* general stuff */

:root {
    --fontMain: "Quicksand";
    --fontTitle: "Gothic A1";

    --buttonBorderRadius: 30px;

    --accentColor: #0066ff;
    --accentDarkerColor: #004ab9;
    --bgColor: #e4e4e4;

    --standardSectionVertSpacing: 2rem;

    --defaultAnimationTime: 0.25s;
}

/* prevent scrollbar showing up from moving everything over to the left */
html {
    overflow-x: hidden;
    margin-right: calc(-1 * (100vw - 100%));
  }

::selection {
    color: var(--bgColor);
    background: var(--accentColor);
}

.preventSelection {
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

::-moz-selection {
    color: var(--bgColor);
    background: var(--accentColor);
}

body {
    background-color: var(--bgColor);
    visibility: hidden;
}

body, button {
    font-family: var(--fontMain), sans-serif;
}

button {
    margin-left: 1rem;
    font-weight: bold;
    width: fit-content;
    height: fit-content;
    padding: 1rem;
    padding-left: 2.5rem;
    padding-right: 2.5rem;
}

.buttonNormal {
    border-radius: var(--buttonBorderRadius);
    border: 2px solid var(--accentColor);
    background-color: var(--bgColor);
    color: var(--accentColor);
}

.buttonAccent {
    border-radius: var(--buttonBorderRadius);
    border: 2px solid var(--accentColor);
    background-color: var(--accentColor);
    color: var(--bgColor);
}

.buttonNormal, .buttonAccent {
    transition: all 0.15s;
}

.buttonNormal:hover, .buttonAccent:hover {
    cursor: pointer;
    color: var(--bgColor);
    border-color: var(--accentDarkerColor);
    background-color: var(--accentDarkerColor);
}

p {
    margin: 0;
}

header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-left: 2rem;
    padding-right: 2rem;
    padding-top: 1rem;
}

.logoContainer {
    display: flex;
    flex-direction: row;
    align-itrems: center;
    transition: all 0.15s;
}
.logoContainer img {
    width: 50px;
    height: 50px;
}
.logoContainer p {
    color: var(--accentColor);
    font-weight: bold;
    font-size: 1.2rem;
}
.logoContainer:hover {
    cursor: pointer;
    filter: contrast(2.15);
}

#navLoginSignUp {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.mainContainer {
    /* background-color: blue; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: fit-content;
    margin-left: auto;
    margin-right: auto;
    margin-top: 5rem;
}

.mainContainerHorizontal {
    flex-direction: row;
}

.titleBodySection {
    max-width: 43rem;
    /* background-color: blue; */
}
.titleBodySection:not(:first-child) {
    margin-top: var(--standardSectionVertSpacing);
}

.bodyText {
    text-indent: 2rem;
}

/* font sizes */

.giantTitle, .bigTitle {
    font-family: var(--fontTitle);
    font-weight: bold;
}
.giantTitle {
    color: var(--accentColor);
    text-transform: uppercase;
    font-size: 5.75rem;
}
.bigTitle {
    color: var(--accentColor);
    font-size: 2.5rem;
}
.bigDescription {
    font-size: 1.3rem;
}

/* FAQ */

.faq {
    margin-top: 0.5rem;
}
.faq label div {
    border-top: 1px solid #566573;
    padding-top: 1rem;
    padding-bottom: 1rem;
}
.faq label div {
    cursor: pointer;
}
.faq label:last-child div {
    border-bottom: 1px solid #566573;
}
.faq .questionCheck {
    display: none;
}
/* open/ collapse functionality */
.faq .questionCheck:checked ~ .answer {
    display: block;
    animation-name: faqAccordianOpen;
    animation-duration: var(--defaultAnimationTime);
    animation-fill-mode: forwards;
}
.faq .questionCheck:not(:checked) ~ .answer {
    animation-name: faqAccordianCollapse;
    animation-duration: var(--defaultAnimationTime);
    animation-fill-mode: forwards;
}
/* open/ collapse functionality */
.faq .questionCheck:checked ~ .questionText::after {
    transform: rotate(0deg);
}
.faq .questionText {
    display: flex;
    justify-content: space-between;
    font-weight: 500;
    user-select: none;
}
.faq .questionText::after {
    content: "^";
    transform: rotate(180deg);
    margin-bottom: 0.2rem;
    margin-top: -0.2rem;
    transition: transform 1s;
}
.faq .answer {
    padding: 0;
    margin: 0;
    margin-bottom: -0.75rem;
    margin-top: 0.75rem;
    overflow: hidden;
    display: none;
}
/* animate open/ collapse */
@keyframes faqAccordianOpen {
    from    {display: block; max-height: 0;}
    to      {display: block; max-height: 5rem;}
}
@keyframes faqAccordianCollapse {
    from    {display: block; max-height: 5rem;}
    to      {display: none; max-height: 0;}
}

/* landing page */

.landingIntro {
    /* background-color: orchid; */
    width: 32rem;
    height: fit-content;
    display: flex;
    flex-direction: column;
    margin-right: 8rem;
    align-items: flex-start;
    align-self: flex-start;
    margin-top: 5rem;
}
.landingIntro * {
    margin: 0;
}

.landingIntro button {
    margin-top: 2rem;
    margin-left: auto;
    margin-right: auto;
}

.landingIconCollage {
    display: flex;
    flex-direction: column;
}
.landingIconCollage img {
    width: 8rem;
    height: 8rem;
}
.landingIconCollage div {
    display: flex;
    flex-direction: row;
}
.landingIconCollage div img:first-child {
    margin-right: 1.5rem;
}
.landingIconCollage div:not(:last-child) {
    margin-bottom: 1.5rem;
}